body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
	width:		800px;
	line-height: 1.5em;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px 20px;

}

h1 {
	margin-left: 5px;
	font-size: 150%;
	line-height: 1.6em;
}

h2 {
	margin-left: 5px;
	font-size: 125%;
}

h3 {
	margin-left: 5px;
	font-size: 115%;
}

em {
	font-weight: bold;
	font-size: large;
	line-height: 2em;
}

img {
	border-style:	solid;
	border-width: 	1px;
}

a:link {
	color: DimGray;	
}

a:visited {
	color: green;
}

pre.prettyprint{
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
	line-height: 1.5em;
}