body { margin:0px 0px; padding:0px; } 

* { box-sizing: Border-box } 

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.mask{
	background-image:url(../img/bg.jpg);
}

#bg {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg.jpg);
}

#copy1 {
	left:262px;
	top:19px;
	width:206px;
	height:19px;
	background-image:url(../img/copy1.png);
}

#copy2 {
	left:239px;
	top:57px;
	width:251px;
	height:19px;
	background-image:url(../img/copy2.png);
}

#line {
	left:0px;
	top:45px;
	width:728px;
	height:2px;
	background-image:url(../img/line.png);
}

#copy3 {
	left:224px;
	top:19px;
	width:281px;
	height:15px;
	background-image:url(../img/copy3.png);
}

#copy4 {
	left:272px;
	top:57px;
	width:185px;
	height:19px;
	background-image:url(../img/copy4.png);
}

#copy5 {
	left:325px;
	top:19px;
	width:79px;
	height:15px;
	background-image:url(../img/copy5.png);
}

#logo {
	left:688px;
	top:50px;
	width:32px;
	height:32px;
	background-image:url(../img/logo.png);
}

#copy_6a {
	left:40px;
	top:140px;
	width:73px;
	height:27px;
	
}

#copy_6b {
	left:164px;
	top:140px;
	width:94px;
	height:22px;
	
}

#ampersand {
	left:148px;
	top:320px;
	width:22px;
	height:21px;
	
}

#copy6c {
	left:73px;
	top:133px;
	width:105px;
	height:33px;
	background-image:url(../img/copy6c.png);
}

#copy6b {
	left:174px;
	top:319px;
	width:110px;
	height:19px;
	background-image:url(../img/copy6b.png);
}

#copy6a {
	left:17px;
	top:319px;
	width:126px;
	height:19px;
	background-image:url(../img/copy6a.png);
}

#ef_copy {
	left:24px;
	top:29px;
	width:213px;
	height:121px;
	background-image:url(../img/ef_copy.png);
}

#cta {
	left:417px;
	top:27px;
	width:120px;
	height:36px;
	background-image:url(../img/cta.png);
}

#topContainer,#bottomContainer,#att_copyContainer{
	right:0;
	overflow:hidden;
}

#att_copyContainer{
	background-image:url(../img/bg.jpg);
}

#att_copy {
	left:72px;
	top:256px;
	width:157px;
	height:50px;
	
}

#vline {
	left:-1px;
	top:0px;
	width:2px;
	height:90px;
	background-image:url(../img/vline.png);
}

#ef_copy1 {
	left:20px;
	top:10px;
	width:171px;
	height:13px;
	background-image:url(../img/ef_copy1.png);
}

#ef_copy2 {
	left:20px;
	top:37px;
	width:256px;
	height:47px;
	background-image:url(../img/ef_copy2.png);
}

#copy6 {
	left:249px;
	top:57px;
	width:232px;
	height:22px;
	background-image:url(../img/copy6.png);
}